<div class="topbar">
    <li class="icons home">
       <a href="/">
       <img src="images/house.png" /></a>
    </li>
  
    <li class="icons logout">
       <a href="/logout">
       <img src="images/logout.png" /></a>
    </li>
 </div>
<div class="container-form">
<form action="/login" method="POST" id="login-form">

            <div class="head">Login</div>
            <div class="social">
              <h4>Connect with</h4>
              <ul>
                <li> 
                <a href="/auth/facebook" class="facebook">
                  <span class="fa fa-facebook"></span>
                </a>
                </li>
                <li>
                  <a href="/auth/instagram" class="instagram">
                    <span class="fa fa-instagram"></span>
                  </a>
                </li>
                <li>
                  <a href="/auth/google" class="google-plus">
                    <span class="fa fa-google-plus"></span>
                  </a>
                </li>
              </ul>
             </div>
       
             <div class="divider">
               <span>or</span>
             </div>
              
            <div class="input-field">
              <label for="username"> Username: </label>
              <input type="text" name="username"/>
              <label for="password">Password: </label> 
              <input type="password" name="password" required/>
              <% if (typeof message != "undefined") { %>
                <div class="error-message"><%= message %></div>
            <% } %>
              <input type="submit" value="Login" />
              <p class="text-p">Don't have an account? <a href="signup">Sign up</a></p>
            </div>
        </form>
    </div>
      
