<div class="container-form">
<form action="/login" method="POST" id="login-form">

            <div class="head">Login</div>
            <div class="social">
              <h4>Connect with</h4>
              <ul>
                <li> 
                <a href="/auth/facebook" class="facebook">
                  <span class="fa fa-facebook"></span>
                </a>
                </li>
                <li>
                  <a href="/auth/instagram" class="instagram">
                    <span class="fa fa-instagram"></span>
                  </a>
                </li>
                <li>
                  <a href="/auth/google" class="google-plus">
                    <span class="fa fa-google-plus"></span>
                  </a>
                </li>
              </ul>
             </div>
       
             <div class="divider">
               <span>or</span>
             </div>
              
            <div class="input-field">
              <label for="email"name="email">Email</label>
              <input type="email" name="email" required="email" />
              <label for="password">Password</label> 
              <input type="password" name="password" required/>
              <% if (typeof message != "undefined") { %>
                <div class="error-message"><%= message %></div>
            <% } %>
              <input type="submit" value="Login" />
              <p class="text-p">Don't have an account? <a href="signup">Sign up</a></p>
            </div>
        </form>
    </div>
      
