<h2>Signup</h2>

<form action="/signup" method="POST" id="form-container" enctype="multipart/form-data">
    <label for="username">Username: </label>
    <input id="username" type="text" name="username" placeholder="JonSnow" required="true">
    <br><br>
    <label for="password">Password: </label>
    <input id="password" type="password" name="password" placeholder="Your password" required="true">
    <label for="img">Upload profile pic: </label>
    <input type="file" name="img">

    <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
    <% } %>
    <br><br>

    <button>Create account</button>

    <p class="account-message">
        Do you already have an account?
        <a href="/login">Login</a>
    </p>
</form>

<a href="/auth/facebook">Signup With Facebook</a>
<a href="/auth/google">Signup With Google</a>
<a href="/auth/instagram">Signup With Instagram</a>

