<div class="container-form">
<form action="/signup" method="POST" id="msform" enctype="multipart/form-data">
          <ul id="progressbar">
            <li class="active">Account Setup</li>
            <li>Upload Picture</li>
            <li>Personal Details</li>
        </ul>
        <!-- fieldsets -->
        <fieldset>
          <h2 class="fs-title">Create your account</h2>
          <h3 class="fs-subtitle">This is step 1</h3>
          <input type="text" name="username" placeholder="Username" required="true" />
          <input type="text" name="email" placeholder="Email" required="true"  />
          <input type="password" name="password" id="password" placeholder="Password"/>
          <input type="password" name="cpassword" id="passwordC" placeholder="Confirm Password" />
          <input type="button" name="next" class="next action-button" value="Next" />
       
          <div class="social">
              
                  <h4>Connect with</h4>
          <ul>
          <li>
            <a href="/auth/facebook" class="facebook">
              <span class="fa fa-facebook"></span>
            </a>
            </li>
            <li>
              <a href="/auth/instagram" class="instagram">
                <span class="fa fa-instagram"></span>
              </a>
            </li>
            <li>
              <a href="/auth/google" class="google-plus">
                <span class="fa fa-google-plus"></span>
              </a>
            </li>
            </ul>
        </div>
         </fieldset>
 
      

        <fieldset>
          <h2 class="fs-title">Profile Pic</h2>
          <h3 class="fs-subtitle">Let's put a face on this name</h3>
          <label for="img">Upload Profile Pic:</label>
          <input type="file" name="img">
          <input type="button" name="previous" class="previous action-button" value="Previous" />
          <input type="button" name="next" class="next action-button" value="Next" />
          
        </fieldset>
        <fieldset>
          <h2 class="fs-title">Personal Details</h2>
          <h3 class="fs-subtitle">We would love to know more about you</h3>
          <input type="text" name="displayName" placeholder="Display name" />
          <input type="text" name="phone" placeholder="Phone" />
          <textarea name="address" placeholder="Address"></textarea>
          <input type="button" name="previous" class="previous action-button" value="Previous" />
          <input type="submit" class="action-button" value="Submit" />
        </fieldset>
      </form>
</div>


