<div class="topbar">
    <% if (user) { %>
  <li class="icons home">
      <a href="/">
    <img src="images/house.png">Home</a>
</li>
<% } %>
<li class="icons logout">
    <a href="/">
  <img src="images/logout.png">Logout</a>
</li>
  </div>
<div class="container-form">
        <form action="/sitterSignup" method="POST" id="msform" enctype="multipart/form-data">
                  <ul id="progressbar">
                    <li class="active">Account Setup</li>
                    <li>Personal & Payment Details</li>
                    <li>Background Check</li>
                </ul>
                <!-- fieldsets -->
                <fieldset>
                  <h2 class="fs-title">Create your account</h2>
                  <h3 class="fs-subtitle">This is step 1</h3>
                  <label for="username">Write your username: </label>
                  <input type="text" name="username" placeholder="Username" />
                  <label for="email">Tell us your email: </label>
                  <input type="text" name="email" placeholder="Email"  />
                  <label for="password">Create password: </label>
                  <input type="password" name="password" id="password" placeholder="Password"/>
                  <label for="passwordC">Confirm password: </label>
                  <input type="password" name="cpassword" id="passwordC" placeholder="Confirm Password" />
                  <input type="button" name="next" class="next action-button" value="Next" />
                 </fieldset>
         
                <fieldset>
                  <h2 class="fs-title">Personal & Payment Details</h2>
                  <h3 class="fs-subtitle">Let's put a face on this name</h3>
                  <label for="img">Upload Profile Pic:</label>
                  <input type="file" name="img">
                  <h3 class="fs-subtitle">Contact Information</h3>
                  <label for="phone">Celphone number: </label>
                  <input type="text" name="phone" placeholder="Phone" />
                  <label for="adress">Complete address: </label>
                  <textarea name="address" placeholder="Address" id="gmapAddress"></textarea>
                  <h3 class="fs-subtitle">Please fill the following information about your payment</h3>
                  <label for="accountNum">Write your account number: </label>
                    <input id="accountNum" type="text" name="accountNum" >
                    <label for="payment">Service fee: </label>
                    <input id="payment" type="text" name="payment" >
                  <input type="button" name="previous" class="previous action-button" value="Previous" />
                  <input type="button" name="next" class="next action-button" value="Next" />
                  
                </fieldset>
                <fieldset>
                  <h2 class="fs-title">Background Check Papers</h2>
                  <h3 class="fs-subtitle">We are almost done!</h3>
                  <p>In order to ensure the peace of mind of your future clients, <br>
                    we perform background checks to all the sitters. <br>
                    Please upload the required documents below.</p>
                    <label for="officialID">Upload official ID (passport or SSC): </label>
                    <input id="officialID" type="file" name="officialID">
                    <label for="criminalRecord">Upload criminal record letter: </label>
                    <input id="criminalRecord" type="file" name="criminalRecord" >
                    <label for="residenceProof">Upload proof of residence: </label>
                    <input id="residenceProof" type="file" name="residenceProof" >
                    <label for="references">Upload 2 reference letters: </label>
                    <input id="reference1" type="file" name="reference1" >
                    <input id="reference2" type="file" name="reference2" >
                  <input type="button" name="previous" class="previous action-button" value="Previous" />
                  <input type="submit" class="action-button" value="Submit" />
                </fieldset>
              </form>
        </div>
        
        
        