
    <main class="container">
       <nav class="navbar navbar-default navbar-fixed-top" data-aos="fade-down" data-aos-duration="2600" data-aos-once="true" >
            <div class="container-fluid">
                <div class="navbar-header"><a class="navbar-brand navbar-link" href="/index">
                    <img src="../images/paw.png" alt="nav bar logo" class="logo-navbar"></a>
             <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav navbar-center">
                        <li role="presentation"><a href="#">How it Works</a></li>
                        <li role="presentation"><a href="#">Our Services</a></li>
                        <li role="presentation"><a href="#">About Us</a></li>
                    </ul>

                        <ul class="nav navbar-nav navbar-right">
                        <li role="presentation"><a href="/signup">
                          <button type="button" class="btn btn-danger">Find Sitters
                            <span class="glyphicon glyphicon-search"></span> 
                          </button>
                          </a>
                       </li>   <li role="presentation"><a href="/sitterSignup">
                        <button type="button" class="btn btn-info">Become a Sitter
                          <span class="glyphicon glyphicon-heart"></span> 
                        </button>
                        </a>
                     </li>
                     <% if (!logged){%>
                      <li role="presentation"><a href="/login">
                           <button type="button" class="btn btn-danger">Login
                             <span class="glyphicon glyphicon-ok"></span> 
                           </button>
                           </a>
                        </li>
                        <%} else {%>
                          <li role="presentation"><a href="/logout">
                              <button type="button" class="btn btn-success">Logout
                                <span class="glyphicon glyphicon-ok"></span> 
                              </button>
                              </a>
                           </li>
                          <% } %>
                    </ul>
                </div>
            </div>
        </nav>
    
     <div class="container-fluid">
       <img src="../images/hero.jpg" class="hero" alt="dogs picture" />   
   
     <div class="transparente-box">
       <ul>
         <li></li>
         <li></li>
         <li></li>
         <li></li> 
       </ul>
     
     </div>
     <div class="transparente-box">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li> 
          </ul>
       
    </div>

     <div>
       <h1 class="alert-heading main-heading">Helping pet lovers travel</h1>
      </div>
     </div><!-- end of container hero and perks-->

     <!-- Carousel -->
     <div id="myCarousel" class="carousel slide" data-ride="carousel">
             <!-- Indicators -->
             <ol class="carousel-indicators">
               <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
               <li data-target="#myCarousel" data-slide-to="1"></li>
               <li data-target="#myCarousel" data-slide-to="2"></li>
             </ol>
           
             <!-- Wrapper for slides -->
             <div class="carousel-inner">
               <div class="item active">
                 <img src="../images/slide1.jpeg" alt="slide"> 
               </div>
           
               <div class="item">
                 <img src="../images/slide2.jpeg" alt="slide">
               </div>
           
               <div class="item">
                     <img src="../images/slide3.jpeg" alt="slide">
               </div>
             </div>
           
             <!-- Left and right controls -->
             <a class="left carousel-control" href="#myCarousel" data-slide="prev">
               <span class="glyphicon glyphicon-chevron-left"></span>
               <span class="sr-only">Previous</span>
             </a>
             <a class="right carousel-control" href="#myCarousel" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right"></span>
               <span class="sr-only">Next</span>
             </a>
           </div><!-- end of Carousel-->



   </main>
   <!-- end of main container-->
  
