<div class="topbar">
            <li class="icons home">
               <a href="/">
               <img src="images/house.png" /></a>
            </li>
            <li class="icons logout">
               <a href="/logout">
               <img src="images/logout.png" /></a>
            </li>
</div>
         <div class="col-md-6">
            <div id="sitters">
               <ul>
                  <li>
                     <p><a href="" ><b>Debora</b></a></p>
                     <img src="/images/8835faff-b768-4291-80e0-c0789ed5d081.jpg" width="100px" class="img-sitter" alt="Sitter image" />
                     <p><b>Address: </b>Av. Insurgentes Sur 643, Nápoles, 03810 Benito Juárez, CDMX</p>
                     <p><b>Review: </b>She was great! my doggy returned home happy</p>
                     <div class="caption">
                        <h4 class="pull-right"><span>50</span> per night</h4>
                     </div>
                     <a href="/payment" class="btn btn-primary icon">Book</a>
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star"></span>
                     <hr class="style1">
                  </li>
                  <br><br>
               </ul>
            </div>
         </div>