<div class="container-form">
        <form action="/users/<%= user._id %>/edit" method="POST" id="editform" enctype="multipart/form-data">
            
                  <input type="file" name="img">
                  <input type="text" name="displayName" placeholder="<%= user.displayName%>" >
                  <input type="submit" class="action-button" value="Submit" >
              </form>
        </div>

        
        
        