
/****** Global Styles ******/
body{
	  font-family: 'Abel', sans-serif;
    color:#020f38;
    font-size: 16px;  
    height: 100%; 
    margin: 0; 
		padding: 0;
		vertical-align: baseline;
		outline: none;
		box-sizing: border-box;
}

/************* Main Container Index ************/
.container {
     position: relative;
     margin-left: auto;
     margin-right: auto;
     width: 1200px;
     height: 100%;
     background-color:#ffffff;
}
/****** Hero Img ******/
.hero{
     position: relative;
     margin-left: auto;
     margin-right: auto;
     width: 1200px;
     height: 100%;
     padding-top: 160px;
}

/* Nav bar ang logo */
.logo-navbar{
    max-width:50px;
    max-height:30px;
    float:left;
		padding-top: 0;
}
 header {
     padding-bottom: 100px;
}
 @media (max-width:767px){
     header {
         background-attachment:inherit;
    }
    /* Custom navbar and Mobile nav settings */
     .navbar-default {
         background-color:#3F5666;
         border-color:#2F3440;
         border-radius:0px;
         font-size: 1.2em;
    }
     .navbar-default .navbar-nav > li > a {
         color:#fff;
         letter-spacing:1px;
         font-weight:500;
    }
     .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
         color:#eee;
         background-color:#2F3440;
         transition:all 0.7s;
				 font-size:21px;
				 font-family: 'Medula One', cursive;
    }
     .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
         color:#eee;
         background-color:#2F3440;
         transition:all 0.7s;
         font-size:15px;
    }
}/* mobile settings ends */


 .main-heading {
     text-align: center;
     font-size: 5em;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.transparente-box{
	float: left;
	width: calc(50% - 10px);
	height: 150px;
	margin-right: 10px;
	margin-top: 0;
	margin-bottom: 0;
  background: #dae1eb;
	border-radius: 25px;
}
/**** Carousel-inner imgs ajust ******/
 .carousel-inner>.item>img, .carousel-inner>.item>a>img {
     display: block;
     height: auto;
     max-width: 100%;
     line-height: 1;
     width: 100%;
}

/************* Signup Form ***************/
.container-form {
	 background-image: url("../images/patas.png");
   background-size: cover;
   margin: 0; 
   padding: 30px 0; 
   height: 950px;
}
#msform {
	 width: 600px;
    margin: 50px auto;
    margin-top: 0;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #dd6052;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
   
	margin-bottom: 90px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}

#progressbar li.active:before,  #progressbar li.active:after{
	background: #dd6052;
	color: white;
}

/******************* Login Form ***********************/
form#login-form {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 0 3px #000;
  margin: 30px auto;
  max-width: 500px;
  overflow: hidden;
  position: relative;
}
.head {
  color: #666;
  font-size: 34px;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
}

.social {
  display: block;
  margin: 0 auto;
  overflow: hidden;
	width: 80%;
}
.social h4 {
  color: #666;
  font-weight: normal;
  margin: 30px 0 20px;
  text-align: center;
}
.social ul{
	display: block;

}
.social ul li{
  list-style: none;
  float: left;
  width: 30.33%;
	margin: 0 1%;


}
.social ul li a{
  display: inline-block;
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  padding: 6px;
  display: block;
  text-align: center;
	border-radius: 30px;
  transition: all 0.4s ease-in-out;
}
.social ul li a:hover{opacity: .8;}
.social ul li a.facebook{
   background: #3a589a;
}
.social ul li a.instagram {
  background: #8a3ab9;
  }
 .social ul li a.google-plus {
  background: #e9544f;
}
.divider{
  background: #ddd;
  height: 2px;
  display: block;
  position: relative;
  width: 80%;
  margin: 30px auto;
}
.divider span{
  width: 30px;
  height: 20px;
  background: #fff;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: -12px;
  text-align: center;
  color: #999;
}
 
.input-field {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;
}
 
.input-field label {
  color: #888;
  display: block;
  font-size: 14px;
  margin-top: 5px;
}
.input-field input[type="email"], .input-field input[type="password"] {
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(223, 223, 223, 0.2);
  margin: 6px 0;
  padding: 12px;
  transition: all 0.15s ease-in-out 0s;
  width: 100%;
}
.input-field input[type="email"]:focus, .input-field input[type="password"]:focus {
  outline: none;
  border: 1px solid #bdbdbd;
}
.input-field input[type="submit"] {
  background: #f85f64;
  border: medium none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 5px 0;
  outline: medium none;
  overflow: hidden;
  padding: 14px;
  text-transform: uppercase;
  transition: all 0.15s ease-in-out 0s;
  width: 100%;
}
.input-field input[type="submit"]:hover {
  background: #fe7175;
}
.text-p{
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
}
.text-p a{
  color: #175690;
}

/*************** PROFILE PAGE STYLES *****************************/
#main-profile { 

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #313131;
  font-size: 62.5%; 
  line-height: 1; 
  background-image:url("../images/bg-profile.jpg");
  background-size: cover;
  min-height: 100vh;
}
img { border: 0; max-width: 100%; }

#topbar {
  background:#fff;
  padding: 10px;
  text-align: left;
  height: 50px;
  overflow: hidden;
}

#topbar a {
  color: #000;
  font-size:1.3em;
  line-height: 1.25em;
  text-decoration: none;
  opacity: 0.5;
  font-weight: 500;
}
#topbar a:hover {
  opacity: 1;
}
.icons {
    height: 30px;  
    width: 30px;  
    position: absolute;
    top: 2px;
    list-style: none;
}
.home{
  left: 25px; 
}
.logout {
  left: 90px; 
}
.chat{
  right: 20px;
  height: 45px;  
  width: 45px
}

/** typography **/
#main-profile h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  line-height: 1.5em;
  letter-spacing: -0.05em;
  margin-bottom: 20px;
  padding: .1em 0;
  color: #444;
  text-align: center;
 
}

#main-profile p {
  display: block;
  font-size: 1.4em;
  line-height: 1.55em;
  margin: 22px 0;
  color: #555;
}

.center { display: block; text-align: center; }

/** page structure **/
#user-container {
  
  display: inline-block;
  width: 700px;
  margin: 0 auto;
 left:300px;
 padding-top:15px; 
 padding-left: 30px;
}

#content {
  display: block;
  width: 100%;
  background: #fff;
  padding: 35px 20px;
  padding-bottom: 35px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  height: 600px;
}

#userphoto {
  float: right;
  width: 350px;
  height: 500px;
  margin-right: 350px;
  margin-top: 20px;
  margin-bottom: 8px;
}

#userphoto img {
height: 100%;
width: 100%; 
}

/** profile nav links **/
#profiletabs {
  display: block;
  margin-bottom: 4px;

}

#profiletabs ul { 
  list-style: none; 
  display: block; 
  padding-top: 10px;
  padding-left: 100px;
  
 }

#profiletabs ul li a { 
  display: block;
  float: left;
  padding: 8px 5px;
  font-size: 1.2em;
  font-weight: bold;
  background: #cee;
  color: #666;
  margin-right: 8px;
  border: 1px solid #fff;
  border-radius: 5px;

}
#profiletabs ul li a:hover {
  text-decoration: none;
  background: #dad7c2;
  color: #565656;
}

#profiletabs ul li a.sel {
  background: #fff;
  border-color: #d1cdb5;
}


/** profile content sections **/
.hidden {
  display: none;
}

.activity {
  border-top:450px;
  padding: 35px

}

.setting {
  display: block;
  font-weight: normal;
  padding: 15px 3px;
  border-top: 1px solid #d6d1af;
  margin-bottom: 5px;
}
.setting span {
  float: left; 
  width: 250px;
  font-weight: bold;
}
.setting span img { 
  cursor: pointer;
}


#transations {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
}


/** Review **/
.rating > span:hover:before {
  content: "\2605";
  position: absolute;
}

/********* Modal Chat *********/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: yellow;
  text-decoration: none;
  cursor: pointer;
}


/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }

* html .clearfix { height: 1%; }





